*{
    margin: 0;
    padding: 0;
    background-color: gray;
}
.digical{
    margin-top: 50px;
    margin-left: 50%;
    position: absolute;
    transform: translateX(-50%);
    
}

.digical-head{
    text-align: center;
    /* margin-bottom: 10px; */
    font-size: 40px;
    color: lime;
    background-color: black;
    border: solid black 2px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.digical-body{
    width: 500px;
    height: 200px;
}

input[type="button"]{
    background-color: black;
    border: solid black 2px;
    color: lime;
    width: 100%;
    padding: 20px;
}

input[type="text"]{
    background-color: white;
    border: solid black 2px;
    width: 100%;
    padding: 20px;
}